
@{
    ViewData["Title"] = "StationsList";
}

@model List<BikeStations>

<h1>Station List</h1>

<table class="table">

    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Station Name</th>
            <th scope="col">Total Bikes</th>
            <th scope="col">Bike Count</th>
            <th scope="col">Electric Bike Count</th>
        </tr>
    </thead>
    @foreach (var station in Model)
    {
        <tbody>
            <tr>
                <th scope="row">@station.Id</th>
                <td>@station.Name</td>
                <td>@station.BikeCountTotal</td>
                <td>@station.BikeCount</td>
                <td>@station.ElectricBikeCount</td>
            </tr>
        </tbody>
    }
</table>


